.titles-gallery {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  padding: 40px 20px;
  box-sizing: border-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
  z-index: 100;
  width: 350px;
  background-color: #e1e9ff;
  margin: 0; /* Quitamos el margin auto */
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.modal-content img {
  width: 270px;
  padding: 20px;
}

.modal-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 25px;
}

.modal-info p {
  text-align: justify;
}

@media (min-width: 480px) {
  .modal {
    width: 700px;
    max-width: 90%; 
  }

  .modal-content img {
    max-width: 370px;
    padding: 20px;
  }
}

@media (min-width: 640px) {
  .modal {
    width: 90%;
    max-width: 800px;
  }

  .modal-content {
    flex-direction: row;
  }

  .modal-content img {
    width: 370px;
    padding: 20px;
  }

  .modal-info {
   
    padding: 25px 25px 0 0;
  }
}