.titlecard {
  display: flex;
  flex-direction: column;
  height: 330px;
  justify-content: space-between;
}

.titlecard:hover {
  opacity: 0.5;
  outline: 3px solid #eae4e4;
}

.titlecard h3 {
  cursor: pointer;
}

