.filter-year-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
}

.filter-year-container label {
  font-size: 20px;
  margin-right: 10px;
  padding-top: 20px;
}

.filter-year {
  font-size: 20px;
  margin-top: 20px;
  margin-right: 10px;
}